:root{
    --grey-color: #cfd8dc;
    --light-grey: #eceff1;
    --dark-grey: #607d8b;
    --red-light: #ff7043;
    --red-dark: #d84315;
    --pink-light: #ffab91;
    --shadow: #7f0000;
}

*{
	box-sizing: border-box;
}

html{
	background: url(../img/background.png) no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 0;
	color:white;
}



#register{
	transition: transform .3s;
	transition: box-shadow .3s; 
	transition: all 0.3s ease-in-out 0.1s
}

#register:hover{
	background-color: var(--red-dark);
	box-shadow: 1px 1px 10px 5px  var(--dark-grey), -1px -1px 10px 5px var(--dark-grey);
	transform: scale(1.1);
	transition: all 0.3s ease-in-out 0.1s;
	cursor: pointer;
}
#register:hover i{
	transform: translateX(50%);
	  transition: all 0.3s ease-in-out 0.1s;
}


#main-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	height: 70vh;
	margin-top:10vh;
	margin-bottom:10vh;
}


h1{
	font-size: 72px;
	color:white;
	margin-bottom: 0;
	text-shadow: 
        0 0 5px #ff0000,    /* Red */
        0 0 10px #ff0000,
        0 0 20px #00ff00,   /* Green */
        0 0 30px #00ff00,
        0 0 40px #0000ff,   /* Blue */
        0 0 50px #0000ff,
        0 0 60px #ffff00,   /* Yellow */
        0 0 70px #ffff00,
        0 0 80px #ff00ff,   /* Magenta */
        0 0 90px #ff00ff,
        0 0 100px #00ffff;  /* Cyan */
}
h2{
	font-size: 36px;
	font-weight: 100;
	text-shadow: 
        0 0 5px #ff0000,    /* Red */
        0 0 10px #ff0000,
        0 0 20px #00ff00,   /* Green */
        0 0 30px #00ff00,
        0 0 40px #0000ff,   /* Blue */
        0 0 50px #0000ff,
        0 0 60px #ffff00,   /* Yellow */
        0 0 70px #ffff00,
        0 0 80px #ff00ff,   /* Magenta */
        0 0 90px #ff00ff,
        0 0 100px #00ffff;  /* Cyan */
}

.highlight{
	font-size: 56px;
	color:black;
}

.btn{
	border: none;
	background-color: var(--red-light);
	color:white;
	padding: 12px 100px;
	border-radius: 25px;
	font-size: 24px;
}

#main-options{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
button i{
	margin-left:5px;
}
